<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="FontAwesome.Sharp.Material" version="6.3.0" targetFramework="net48" />
  <package id="paper-behaviors" version="1.0.0" targetFramework="net48" />
  <package id="paper-radio-button" version="1.0.1" targetFramework="net48" />
  <package id="paper-ripple" version="1.0.0" targetFramework="net48" />
  <package id="paper-styles" version="1.0.3" targetFramework="net48" />
  <package id="polymer" version="1.0.0" targetFramework="net48" />
  <package id="polymer-iron-a11y-keys-behavior" version="1.0.0" targetFramework="net48" />
  <package id="polymer-iron-behaviors" version="1.0.1" targetFramework="net48" />
  <package id="polymer-iron-flex-layout" version="1.0.1" targetFramework="net48" />
</packages>